<% @title = "where games get you stuff" %>

	
  	<div class="container clearfix" id="main-content"> 
  		<!--begin main content-->
  		
  		
  		<h1>About Us</h1>
  		
  		<p class="big">From its earliest inception, Lootsie's founding team has set out to answer 1 very simple question: 
  		  why do people spend all this time, energy and money playing games without getting anything back?
  		</p>

  		<div class="row-fluid">
  		  <div class="span4">
          <h4 class="orange"><strong>Perplexing, right!? We thought so, too.</strong></h4>
          <p>  
            That's why we created Lootsie; to reward you all with gifts 
            from your favorite brands just for playing the games that you're already playing. It really is that simple. 
            Why?  Well, that's an even easier answer.  Because we love games too, and play a lot more of them than we care to admit!
          </p>
        </div>
        <div class="span8">
          <p>   
            And while we don't want to change your gaming experience, we do want to make it better. So, we've built a network of games and brands     
            who feel the same way and want to share our ride to the gaming revolution! Whether you're a game developer who wants to boost   
            engagement by rewarding your users, or an advertiser who finally realized that maybe people don't like pop-ups and banner ads   
            interrupting their game as much as you thought they would, or even a gamer who just wants to get some free stuff, Lootsie is here 
            to help, because at the end of the day, we want you all to win.
            <br>
            <h4 class="orange"><strong>I guess we're kinda like superheroes, except we don't wear capes...often.</strong> </h4> 
          </p>
        </div>
      </div>  
		  <hr>
  		  
  		<div class="row-fluid">
  			<div class="span4"> <img class="aligncenter" src="../images/image-no-1.png" alt="Marc Mitchell" />
  				<h5 class="blue"><strong>Marc Mitchell</strong></h5>
  				<h6><em>President and Founder</em></h6>
  				<p>Fusce nunc lacus, tempor et aliquet lacinia, volutpat ut justo. Aenean sodales lacinia dignissim. 
  				  Sed vel lorem ut augue pretium luctus. Sed semper purus sed erat placerat dapibus. Sed vel lorem ut augue pretium luctus. 
  				  Sed semper purus sed erat placerat dapibus.
  				</p>
  				<ul class="social">
  					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
  					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
  					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
  				</ul>
  			</div>
  			<!--close span4-->
			
  			<div class="span4"> <img class="aligncenter" src="../images/image-no-2.png" alt="Brandon Werber" />
  				<h5 class="blue"><strong>Brandon Werber</strong></h5>
  				<h6><em>Founder & Partner</em></h6>
  				<p>Fusce nunc lacus, tempor et aliquet lacinia, volutpat ut justo. Aenean sodales lacinia dignissim. 
  				  Sed vel lorem ut augue pretium luctus. Sed semper purus sed erat placerat dapibus. Sed vel lorem ut augue pretium luctus. 
  				  Sed semper purus sed erat placerat dapibus.
  				</p>
  				<ul class="social">
  					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
  					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
  					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
  				</ul>
  			</div>
  			<!--close span4-->
			
  			<div class="span4"> <img class="aligncenter" src="../images/image-no-3.png" alt="Bryan Dickson" />
  				<h5 class="blue"><strong>Bryan Dickson</strong></h5>
  				<h6><em>CTO</em></h6>
  				<p>Fusce nunc lacus, tempor et aliquet lacinia, volutpat ut justo. Aenean sodales lacinia dignissim. 
  				  Sed vel lorem ut augue pretium luctus. Sed semper purus sed erat placerat dapibus. Sed vel lorem ut augue pretium luctus. 
  				  Sed semper purus sed erat placerat dapibus.</p>
  				<ul class="social">
  					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
  					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
  					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
  				</ul>
  			</div>
  			<!--close span4 --> 
			
  		</div>
  		<!--close row-fluid -->
		
  		<div class="row-fluid clientlogos">
  			<h3 class="short_headline margin-top"><span>Some of Our Partners and Clients</span></h3>
  			<ul class="slides">
  				<li><img src="../images/fakelogo-1.png" alt="" /></li>
  				<li><img src="../images/fakelogo-2.png" alt="" /></li>
  				<li><img src="../images/fakelogo-3.png" alt="" /></li>
  				<li><img src="../images/fakelogo-4.png" alt="" /></li>
  				<li><img src="../images/fakelogo-5.png" alt="" /></li>
  				<li><img src="../images/fakelogo-6.png" alt="" /></li>
  				<li><img src="../images/fakelogo-1.png" alt="" /></li>
  				<li><img src="../images/fakelogo-2.png" alt="" /></li>
  				<li><img src="../images/fakelogo-3.png" alt="" /></li>
  				<li><img src="../images/fakelogo-4.png" alt="" /></li>
  			</ul>
  		</div>
  		<!--close row-fluid clientlogos--> 
		
  	</div>
  	<!--close .container id="main-content" -->
  	
  	
  	