<% @title = "where games get you stuff" %>

  <div class="container clearfix" id="main-content"> 
  		<!--begin main content-->
  		
  	<h1>Contact Us</h1>
  		<div class="row-fluid reverse-order contact-page">
  			<p class="clearfix">
  			  Please reach out! We'd love to hear from you. We're always looking to connect with the ipsolum frammen doren. Thanks! 
  			</p>
  			<hr />
  			<div class="span5">
  				<p class="right"> 
  				  <a class="icon-map-marker various fancybox.iframe" title="Map and Directions" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7039+West+Sunset+Boulevard,+Los+Angeles,+CA&amp;aq=1&amp;oq=7039+Sunset+Blvd.&amp;sll=34.008617,-118.497383&amp;sspn=0.115832,0.194664&amp;ie=UTF8&amp;hq=&amp;hnear=7039+W+Sunset+Blvd,+Los+Angeles,+California+90028&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed">&nbsp;
            </a>
          <h4>Click on icon to get full map</h4>  
          </p>
  				<p><strong>Lootsie</strong><br />
  					7039 Sunset Blvd.<br />
  					Hollywood, CA 90028<br />
  					<strong>phone:</strong> <a href="tel:0000000000" class="tele">000.000.0000</a><br />
  					<strong>fax:</strong> 000.000.0000<br>
  					<strong>general email:</strong> <a href="mailto:email@lootsie.com">contact@lootsie.com</a><br> 
  					<strong>jobs:</strong> <a href="mailto:email@lootsie.com">jobs@lootsie.com</a><br> 
  					<strong>advertiser inquiries:</strong> <a href="mailto:email@lootsie.com">ads-support@lootsie.com</a><br> 
  					<strong>developer inquiries:</strong> <a href="mailto:email@lootsie.com">sdk-support@lootsie.com</a><br> 
  					<strong>press:</strong> <a href="mailto:email@lootsie.com">press@lootsie.com</a>
  				</p>
  				<h3 class="short_headline margin-top">
  				  <a class="powertip" href="/_support.html.erb" rel="tooltip" 
  				    data-placement="top" data-content="A message addressing the reason one would click to the Support Page" 
  				    data-original-title="Click on thru to the other side"><span>get support</span>
  				  </a>
  				</h3>
  				<h3 class="short_headline margin-top"><span>get lootsified</span></h3>
  				<p>Sign up for our newsletter. We won't share your email address or terms of condition message.</p>
  				<div class="input-append">
  					<input type="email" placeholder="Email Address" class="span6" name="email" />
  					<button class="btn btn-primary-orange">Sign Up</button>
  				</div>
  				<!--close input-append-->
  				<h3 class="short_headline margin-top"><span>Follow Us</span></h3>
  				<ul class="social">
  					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
  					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
  					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
  				</ul>
  			</div>
  			<!--close span5 -->

  			<div class="span7">
  				<form action="#" id="contact-form" class="form-horizontal">
  					<fieldset>
  						<div class="control-group">
  							<label for="name">Your Name</label>
  							<input type="text" class="span10" name="name" id="name" />
  						</div>
  						<div class="control-group">
  							<label for="phone">Phone</label>
  							<input type="text" class="span10" name="phone" id="phone" />
  						</div>
  						<div class="control-group">
  							<label for="email">Email Address</label>
  							<input type="email" class="span10" name="email" id="email" />
  						</div>
  						<div class="control-group">
  							<label for="message">Your Message</label>
  							<textarea class="span10" name="message" id="message" rows="3"></textarea>
  						</div>
  						<button type="submit" class="btn btn-primary-orange btn-large">Send</button>
  					</fieldset>
  				</form>
  			</div>
  			<!--close span7 --> 
  		</div>
  		<!--close row-fluid-->
    </div>
    <!--close .container id="main-content" --> 
    
    