<% @title = "where games get you stuff" %>

<div class="container clearfix" id="main-content"> 
	<!--begin main content-->
	
	<h1>Equal Height Columns</h1>
	
	<p>This uses jQuery to make equal heights on desktop sizes.</p>
	<h3 class="short_headline"><span>Two Equal Columns</span></h3>
	<div id="equalHeights" class="row-fluid equalHero">
		<div class="span6"> <a href="about.html"><img src="../images/gamer-demo-1.jpg" class="alignleft" alt="" /></a>
			<h3><a href="about.html">We are going to change the way people use thier phones.</a></h3>
			<p>
			  We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it&#039;s true!
			  So why not join us? It's a matter of time that you will, it's too good to be true.
			 
			 </p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span6 -->
		<div class="span6"> <a href="about.html"><img src="../images/gamer-demo-2.jpg" class="alignleft" alt="" /></a>
			<h3><a href="about.html">It is better to maximize virally than to exploit holistically.</a></h3>
			<p>If all of this seems stunning to you, that&#039;s because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span6--> 
	</div>
	<!-- close #equalHeights .featured 2 columns -->
	
	<h3 class="short_headline"><span>Three Equal Columns</span></h3>
	<!-- begin equalHeights columns 3 -->
	<div id="equalHeightsA" class="row-fluid equalHero">
		<div class="span4"> <a href="about.html"><img src="../images/gamer-demo-3.jpg" class="aligncenter" alt="" /></a>
			<h3><a href="about.html">There is nothing we won't try, accomplish and win doing.</a></h3>
			<p>Public domain images. We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it&#039;s true!</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span4 -->
		<div class="span4"> <a href="about.html"><img src="../images/gamer-demo-4.jpg" class="aligncenter" alt="" /></a>
			<h3><a href="about.html">It is better to maximize virally than to exploit holistically.</a></h3>
			<p>If all of this seems stunning to you, that&#039;s because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span4-->
		<div class="span4"> <a href="about.html"><img src="../images/gamer-demo-5.jpg" class="aligncenter" alt="" /></a>
			<h3><a href="about.html">What makes us better than the competition? Everything.</a></h3>
			<p>A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span4 --> 
	</div>
	<!-- close #equalHeights .featured 3 columns -->
	
	<h3 class="short_headline"><span>Four Equal Columns</span></h3>
	
	<!-- begin equalHeights columns 4 -->
	<div id="equalHeightsB" class="row-fluid equalHero">
		<div class="span3">
			<h3><a href="about.html">There is nothing we won't try, accomplish and win doing.</a></h3>
			<p><a href="about.html"><img src="../images/gamer-demo-6.jpg" class="alignleft" alt="" /></a>Public domain images. We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it&#039;s true!</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span3 -->
		<div class="span3">
			<h3><a href="about.html">It is better to maximize virally than to exploit holistically.</a></h3>
			<p><a href="about.html"><img src="../images/gamer-demo-7.jpg" class="alignleft" alt="" /></a>If all of this seems stunning to you, that&#039;s because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span3-->
		<div class="span3">
			<h3><a href="about.html">It is better to maximize virally than to exploit holistically.</a></h3>
			<p><a href="about.html"><img src="../images/gamer-demo-8.jpg" class="alignleft" alt="" /></a>A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span3 -->
		<div class="span3">
			<h3><a href="about.html">What makes us better than the competition? Everything.</a></h3>
			<p><a href="about.html"><img src="../images/gamer-demo-9.jpg" class="alignleft" alt="" /></a>A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.</p>
			<p class="right"><a href="about.html" class="btn btn-primary">Details &rarr;</a></p>
		</div>
		<!-- close .span3 --> 
	</div>
	<!-- close #equalHeights .featured 4 columns --> 
	
</div>
<!--close .container id="main-content" -->
