<% @title = "where games get you stuff" %>
  
  <div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		
	<h1>Press</h1>
		  
		<div class="row-fluid sidebar-right"> 
			<!--begin row-fluid-->
			<div class="span9 primary-column"> 
				<!--begin primary content-->
				<p><strong><img class="alignleft" src="http://placehold.it/200x135" alt=" ">
				  Perhaps this is where we can put a group shot of the team?</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, 
				  feugiat vitae, ultricies eget. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, 
				  ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.<br> 
				  <a href="/_contact-us.html.erb">Go to the Contact Page</a> if you need to get in touch. We're happy to oblige, thanks!
				</p>
        <h3>Interesting things to say:</h3>
        <dl>
          <dt>We're still in private beta</dt>
					<dd>Explain this position ipsolum extram dadem.</dd>
          <dt>Something Else</dt>
					<dd>Explain this position ipsolum extram dadem.</dd>
          <dt>Something Else</dt>
					<dd>Explain this position ipsolum extram dadem.</dd>
				</dl>
				
				
    		  <div class="rotating-testimonials">
    		    <h5 class="short_headline"><span>word on the street</span></h5>
    		    <div class="panels">
    		      <div id="t1">
    		        <blockquote>
    		          <p>One isn't necessarily born with courage, but one is born with potential. Without courage,
    		             we cannot practice any other virtue with consistency.
    		           </p>
    		         <footer>Joe Blow, Hard Core Gamer</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t2">
    		        <blockquote>
    		          <p>When the highest type o fpoeple hear TAO (Truth), they diligently practice it. When the 
    		            average type of poeple hear Tao, they half believe in it. When the lowest type of people hear
    		            Tao, they laugh at it. If they did not laughk, it would not be Tao.
    		           </p>
    		         <footer>Maximus Impotantatious, Loves to Play "this game"</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t3">
    		        <blockquote>
    		          <p>The human being is a part of the whole, called by us the 'universe', a part limited in time 
    		            and space. He experiences himself, his thoughts and feelings, as something separate from the  
    		            rest - a kind of optical delusion of consciousness.
    		           </p>
    		         <footer>Joe Blow, Hard Core Gamer</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t4">
    		        <blockquote>
    		          <p>Whatever course you decide upon, there is always someone to tell you that you are wrong.
    		             There are always difficulties arising which tempt you to believe that your critics are         
    		             right. To map out a course of action and follow it to an end requires courage.
    		           </p>
    		         <footer>Maximus Impotantatious, Love to Play "this game"</footer>  
    		        </blockquote>
    		      </div>
    		    </div> <!-- close panels -->
    		    <ul class="tabs">
    					<li class="tab"><a href="#t1">maya-angelou</a></li>
    					<li class="tab"><a href="#t2">lao-tzu</a></li>
    					<li class="tab"><a href="#t3">albert-einstein</a></li>
    					<li class="tab"><a href="#t4">ralph-waldo-emerson</a></li>
    				</ul>
    		  </div>
    		                         
        


    			 

    		








        
        
			</div>
			<!-- close span9 primary-column-->
  	  
  	  <section class="span3 sidebar secondary-column" id="secondary-nav">
				<aside class="widget">
					<h5 class="short_headline"><span>Help Menu</span></h5>
					<ul class="navigation">
						<li><a href="/_faqs.html.erb">Faqs</a></li>
						<li><a href="/_press.html.erb">Press</a></li>
						<li><a href="/_jobs.html.erb">Jobs</a></li>
					</ul>
				</aside>
				
  			<aside class="widget">
  				<h5 class="short_headline"><span>Stay Updated</span></h5>
  				<p>Sign up for our newsletter. We won't share your email address or terms of condition message.</p>
  				<div class="input-append">
  					<input type="email" placeholder="Email Address" class="span8" name="email" />
  					<button class="btn btn-primary-orange">Sign Up</button>
  				</div>
  			</aside>
  			<!--close aside .widget -->

				<aside class="widget">
					<h5 class="short_headline"><span>Search</span></h5>
					<form class="searchform" method="get">
						<input type="search" class="span12" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'" />
					</form>
        </aside>
				<!--close aside widget-->
      </section>
			<!--close section sidebar span3-->
  	</div>
  	<!--close .container id="main-content" -->