<% @title = "where games get you stuff" %>
  
  <div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		
	<h1>Rewards</h1>
		  
		<div class="row-fluid sidebar-right"> 
			<!--begin row-fluid-->
			<div class="span9 primary-column"> 
				<!--begin primary content-->
				
				<section class="span11 project-description" role="project-description">
  				<h3 class="short_headline"><span>Lootsie is a Games Network</span></h3>
  				<img src="../images/games_2.png" class="aligncenter" alt="">
  			</section>
  			<!--close project details section span4-->
			
			
			
			  <div class="row-fluid">
    			<div class="span6">
    				<h1>We are in Beta! </h1>
    				<p>Lootsie enabled games allow you to earn points that can be redeemed in our marketplace for real goods.
    				  The Lootsie game network is growing and we will be launching publicly soon! Let us know what types of 
    				  games you'd like to see in our network.</p>
    			</div>
    			<div class="span6">
            <form action="#" id="contact-form" class="form-horizontal">
    					<fieldset>
    						<div class="control-group">
    							<label for="name">Your Name</label>
    							<input type="text" class="span10" name="name" id="name" />
    						</div>
    						<div class="control-group">
    							<label for="email">Email Address</label>
    							<input type="email" class="span10" name="email" id="email" />
    						</div>
    						<div class="control-group">
    							<label for="message">Your Favorite Games</label>
    							<textarea class="span10" name="message" id="message" rows="3"></textarea>
    						</div>
    						<button type="submit" class="btn btn-primary-orange btn-large">Send</button>
    					</fieldset>
    				</form>
          </div>
    		</div>
    		<!--close row-fluid -->
			</div>
			
			<!-- close span9 primary-column-->
  	  <section class="span3 sidebar secondary-column" id="secondary-nav">
				<aside class="widget">
					<h5 class="short_headline"><span>Help Menu</span></h5>
					<ul class="navigation">
						<li><a href="/_games.html.erb">Games</a></li>
						<li><a href="/_rewards.html.erb">Rewards</a></li>
					</ul>
				</aside>
				
				<aside class="widget clearfix">
    			<h5 class="short_headline"><span>Sponsors</span></h5>
    			<ul class="sponsors">
    				<li><a href="#"><img src="../images/125banner-fpo.png" alt="" /></a></li>
    				<li><a href="#"><img src="../images/125banner-fpo.png" alt="" /></a></li>
    				<li><a href="#"><img src="../images/125banner-fpo.png" alt="" /></a></li>
    				<li><a href="#"><img src="../images/125banner-fpo.png" alt="" /></a></li>
    			</ul>
    		</aside><!--close aside widget-->
    		<aside class="widget">
    		  <div class="rotating-testimonials">
    		    <h5 class="short_headline"><span>Testimonials</span></h5>
    		    <div class="panels">
    		      <div id="t1">
    		        <blockquote>
    		          <p>One isn't necessarily born with courage, but one is born with potential. Without courage,
    		             we cannot practice any other virtue with consistency.
    		           </p>
    		         <footer>Maya Angelou</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t2">
    		        <blockquote>
    		          <p>When the highest type o fpoeple hear TAO (Truth), they diligently practice it. When the 
    		            average type of poeple hear Tao, they half believe in it. When the lowest type of people hear
    		            Tao, they laugh at it. If they did not laughk, it would not be Tao.
    		           </p>
    		         <footer>Lao-Tzu</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t3">
    		        <blockquote>
    		          <p>The human being is a part of the whole, called by us the 'universe', a part limited in time 
    		            and space. He experiences himself, his thoughts and feelings, as something separate from the  
    		            rest - a kind of optical delusion of consciousness.
    		           </p>
    		         <footer>Albert Einstein</footer>  
    		        </blockquote>
    		      </div>
    		      <div id="t4">
    		        <blockquote>
    		          <p>Whatever course you decide upon, there is always someone to tell you that you are wrong.
    		             There are always difficulties arising which tempt you to believe that your critics are         
    		             right. To map out a course of action and follow it to an end requires courage.
    		           </p>
    		         <footer>Ralph Waldo Emerson</footer>  
    		        </blockquote>
    		      </div>
    		    </div> <!-- close panels -->
    		    <ul class="tabs">
    					<li class="tab"><a href="#t1">maya-angelou</a></li>
    					<li class="tab"><a href="#t2">lao-tzu</a></li>
    					<li class="tab"><a href="#t3">albert-einstein</a></li>
    					<li class="tab"><a href="#t4">ralph-waldo-emerson</a></li>
    				</ul>
    		  </div>
    		</aside>
      </section>
			<!--close section sidebar span3-->
  	</div>
  	<!--close .container id="main-content" -->