<% @title = "where games get you stuff" %>

  <div class="container clearfix" id="main-content"> 
  <!--begin main content-->
  		
  	<h1>Support</h1>
  		<div class="row-fluid reverse-order contact-page">
  			<p class="clearfix">
  			  Have a question or suggestion? No problem, we'd love to hear from you! Just shoot us an email and we'll get back to you shortly.
  			</p>
  			<hr />
  			<div class="span5">
  				<h3 class="short_headline margin-top">
  				  <a class="powertip" href="/_contact-us.html" rel="tooltip" data-placement="top" 
  				    data-content="A message addressing the reason one would click to the Contact Page" 
  				    data-original-title="Click on thru to the other side"><span>make contact</span>
  				  </a>
  				</h3>
  				<h3 class="short_headline margin-top"><span>get lootsified</span></h3>
  				<p>Sign up for our newsletter. We won't share your email address or terms of condition message.</p>
  				<div class="input-append">
  					<input type="email" placeholder="Email Address" class="span6" name="email" />
  					<button class="btn btn-primary-orange">Sign Up</button>
  				</div>
  				<!--close input-append-->
  				<h3 class="short_headline margin-top"><span>Follow Us</span></h3>
  				<ul class="social">
  					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
  					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
  					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
  				</ul>
  			</div>
  			<!--close span5 -->

  			<div class="span7">
  				<form action="/_contact-us.html" id="contact-form" class="form-horizontal">
  					<fieldset>
  						<div class="control-group">
  							<label for="name">Your Name</label>
  							<input type="text" class="span10" name="name" id="name" />
  						</div>
  						<div class="control-group">
  							<label for="phone">Phone</label>
  							<input type="text" class="span10" name="phone" id="phone" />
  						</div>
  						<div class="control-group">
  							<label for="email">Email Address</label>
  							<input type="email" class="span10" name="email" id="email" />
  						</div>
  						<div class="control-group">
  							<label for="message">Your Message</label>
  							<textarea class="span10" name="message" id="message" rows="3"></textarea>
  						</div>
  						<button type="submit" class="btn btn-primary-orange btn-large">Send</button>
  					</fieldset>
  				</form>
  			</div>
  			<!--close span7 --> 
  		</div>
  		<!--close row-fluid-->
    </div>
    <!--close .container id="main-content" -->  
    
    