<% @title = "where games get you stuff" %>
  
  <div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		
	<h1>Terms of Service</h1>
		  
		<div class="row-fluid sidebar-right"> 
			<!--begin row-fluid-->
			<div class="span9 primary-column"> 
				<!--begin primary content-->
        <p class="statement">Here&#8217;s where the Terms of Service notes would display. At Lootsie we have a few fundamental principles:</p>
        <div class="tab-pane" id="pills-stacked">
    			<h3>Common Concerns</h3>
    			<div class="tabbable">
    				<ul class="nav nav-pills nav-stacked span5">
    					<li class="active"><a href="#tabs5-pane1" data-toggle="tab">Terms of Service Here</a></li>
    					<li><a href="#tabs5-pane2" data-toggle="tab">Terms of Service Here</a></li>
    					<li><a href="#tabs5-pane3" data-toggle="tab">Terms of Service Here</a></li>
    					<li><a href="#tabs5-pane4" data-toggle="tab">Terms of Service Here</a></li>
    				</ul>
    				<div class="tab-content span5">
    					<div id="tabs5-pane1" class="tab-pane active">
    						<h4>Terms of Service No. 1</h4>
    						<p>Ipsolum notes legal notification absolum dictus and abrem and dictum notiem. Here is a quick way for
    						  exposing a legal note without getting into the nitty-gritty of the topic matter.
    						</p>
    					</div>
    					<div id="tabs5-pane2" class="tab-pane">
    						<h4>Terms of Service No. 2</h4>
    						<p>Ipsolum notes legal notification absolum dictus and abrem and dictum notiem. Here is a quick way for
    						  exposing a legal note without getting into the nitty-gritty of the topic matter.
    						</p>
    					</div>
    					<div id="tabs5-pane3" class="tab-pane">
    						<h4>Terms of Service No. 3</h4>
    						<p>Ipsolum notes legal notification absolum dictus and abrem and dictum notiem. Here is a quick way for
    						  exposing a legal note without getting into the nitty-gritty of the topic matter.
    						</p>
    					</div>
    					<div id="tabs5-pane4" class="tab-pane">
    						<h4>Terms of Service No. 4</h4>
    						<p>Ipsolum notes legal notification absolum dictus and abrem and dictum notiem. Here is a quick way for
    						  exposing a legal note without getting into the nitty-gritty of the topic matter.
    						</p>
    					</div>
    				</div>
    				<!-- /.tab-content --> 
    			</div>
    			<!-- /.tabbable --> 
    		</div>
    		<!-- /.tab-pane -->
    		<hr/>
    		
        <h3>PLEASE READ</h3>
        <p>
        PLEASE READ THESE TERMS OF USE ("AGREEMENT") CAREFULLY BEFORE USING LOOTSIE. THIS AGREEMENT IS A BINDING CONTRACT BETWEEN YOU 
        AND LOOTSIE, INC. ("LOOTSIE"). BY VISITING THE LOOTSIE WEBSITE OR USING LOOTSIE IN ANY MANNER, YOU AGREE THAT YOU HAVE READ AND 
        AGREE TO BE BOUND BY AND A PARTY TO THE TERMS AND CONDITIONS OF THIS AGREEMENT TO THE EXCLUSION OF ALL OTHER TERMS. IF THE TERMS 
        OF THIS AGREEMENT ARE CONSIDERED AN OFFER, ACCEPTANCE IS EXPRESSLY LIMITED TO SUCH TERMS. IF YOU DO NOT UNCONDITIONALLY AGREE TO 
        ALL THE TERMS AND CONDITIONS OF THE AGREEMENT, YOU HAVE NO RIGHT TO USE LOOTSIE. USE OF LOOTSIE IS EXPRESSLY CONDITIONED UPON 
        YOUR ASSENT TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, TO THE EXCLUSION OF ALL OTHER TERMS. THIS AGREEMENT ONLY GOVERNS 
        THE LOOTSIE PRODUCT AND SERVICES, AND OTHER MAY BE GOVERNED BY SEPARATE TERMS AND CONDITIONS.
        </p>
        
        <h3>Access to Lootsie</h3>
        <p>
        The <a href="https://www.lootsie.com">www.Lootsie.com</a> website and domain name, and any other linked pages, features, content, 
        or application services offered from time to time by LOOTSIE in connection therewith (collectively, the "Website") are owned and 
        operated by LOOTSIE. Subject to the terms and conditions of this Agreement, LOOTSIE may offer to provide you the LOOTSIE service, 
        and other certain associated services available through the Website (together with the Website, "Services"), solely for your own use, 
        and not for the use or benefit of any third party. The term "Services" shall include, without limitation, any service LOOTSIE 
        performs for you and the Content (as defined below) offered by LOOTSIE on the Website. LOOTSIE may change, suspend or discontinue 
        the Services at any time, including the availability of any feature, database, or content. LOOTSIE may also impose limits on certain 
        features and services or restrict your access to parts or all of the Services without notice or liability.
        <span class="bold">
        Lootsie reserves the right, in its sole discretion, to modify this Agreement at any time by posting the changes on the Website, 
        or by sending you a notice via email or postal mail. You shall be responsible for reviewing and becoming familiar with any such 
        modifications. Your use of the Services following such update constitutes your acceptance of the terms and conditions of this 
        Agreement as modified.
        </span>
        </p>
        <p>Lootsie does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons
           to register for the Services. If you are under 13, please do not attempt to register for the Services or send any information about
            yourself to us, including your name, address, telephone number, or email address. No one under age 13 may provide any personal 
            information to Lootsie or on the Services. In the event that we learn that we have collected personal information from a child 
            under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe 
            that we might have any information from or about a child under 13, please contact us at 
            <a href="mailto:privacy@lootsie.com">privacy@lootsie.com</a>
        </p>
        <p>
          You represent and warrant to Lootsie that: (i) you are an individual (i.e., not a corporation) and you are of legal age to 
          form a binding contract or have your parent&#8217;s permission to do so, and you are at least 13 years or age or older; (ii) all 
          registration information you submit is accurate and truthful; and (iii) you will maintain the accuracy of such information. 
          You also certify that you are legally permitted to use and access the Services and take full responsibility for the selection 
          and use of and access to the Services. This Agreement is void where prohibited by law, and the right to access the Services 
          is revoked in such jurisdictions.
        </p>
        <h3>Website Content</h3>
        <p>
          The Website and its contents are intended solely for the personal, non-commercial use of Website users and may only be used in 
          accordance with the terms of this Agreement. All materials displayed or performed on the Website (including, but not limited to text, 
          graphics, articles, photographs, images, illustrations (also known as the "Content")) are protected by copyright. You shall abide by 
          all copyright notices, trademark rules, information, and restrictions contained in any Content accessed through the Services, 
          and shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, 
          sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned 
          by you: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right.
        </p>
        <p>
          The Website is protected by copyright as a collective work and/or compilation, pursuant to U.S. copyright laws, international 
          conventions, and other copyright laws. You may not modify, publish, transmit, participate in the transfer or sale of, reproduce 
          (except as expressly provided in this Section 2), create derivative works based on, distribute, perform, display, or in any way 
          exploit, any of the Content, software, materials, or Services in whole or in part.
        </p>
        <p>
          You may download or copy the Content (and other items displayed on the Website for download) for personal non-commercial 
          use only, provided that you maintain all copyright and other notices contained in such Content. You shall not store any 
          significant portion of any Content in any form. Copying or storing of any Content other than personal, noncommercial use 
          is expressly prohibited without prior written permission from Lootsie or from the copyright holder identified in such Content&#8217;s
          copyright notice. You shall not link to the Website without Lootsie&#8217;s prior written consent.
        </p>
        <p>
          Under no circumstances will Lootsie be liable in any way for any Content, including, but not limited to, any errors or omissions 
          in any Content, or any loss or damage of any kind incurred in connection with use of or exposure to any Content posted, emailed, 
          accessed, transmitted, or otherwise made available via the Services.
        </p>
        <h3>Your Warranty</h3>
        <p>
          You warrant, represent and agree that you will not use the Services in a manner that (i) infringes or violates the intellectual 
          property rights or proprietary rights, rights of publicity or privacy, or other rights of any third party; (ii) violates any law, 
          statute, ordinance or regulation; (iii) is harmful, fraudulent, deceptive, threatening, abusive, harassing, tortious, defamatory, 
          vulgar, obscene, libelous, or otherwise objectionable; (iv) involves commercial activities and/or sales without Lootsie&#8217;s prior 
          written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes; (v) impersonates any person or entity, 
          including without limitation any employee or representative of Lootsie; or (vi) contains a virus, trojan horse, worm, time bomb, 
          or other harmful computer code, file, or program. Lootsie reserves the right to remove any Content from the Services at any time, 
          for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating 
          to such Content or if Lootsie is concerned that you may have breached the immediately preceding sentence), or for no reason at all.
        </p>
        <h3>Restrictions</h3>
        <p>
          You are responsible for all of your activity in connection with the Services. Any fraudulent, abusive, or otherwise illegal 
          activity may be grounds for termination of your right to access or use the Services. You may not post or transmit, or cause to 
          be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information 
          from any Lootsie user. Use of the Services to violate the security of any computer network, crack passwords or security encryption codes,
          transfer or store illegal material (including material that may be considered threatening or obscene), or engage in any kind of illegal
           activity is expressly prohibited. You will not run Maillist, Listserv, any form of auto-responder, or "spam" on the Services, or any 
           processes that run or are activated while you are not logged on to the Website, or that otherwise interfere with the proper working of 
           or place an unreasonable load on the Services' infrastructure. Further, the use of manual or automated software, devices, or other 
           processes to "crawl" or "spider" any page of the Website is strictly prohibited. You will not decompile or reverse engineer 
           (other than as permitted by applicable law), or otherwise attempt to obtain the source code of the Services. You will be responsible 
           for withholding, filing, and reporting all taxes, duties and other governmental assessments associated with your activity in 
           connection with the Services.
        </p>
        <h3>Warranty Disclaimer</h3>
        <p>
          Lootsie has no special relationship with or fiduciary duty to you. You acknowledge that Lootsie has no control over, and no duty to 
          take any action regarding: which users gains access to the Services; what Content you access via the Services; what effects the 
          Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed 
          to the Content. You release Lootsie from all liability for you having acquired or not acquired Content through the Services. 
          The Services may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. 
          Lootsie makes no representations concerning any Content contained in or accessed through the Services, and Lootsie will not be 
          responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through 
          the Services. TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES, CONTENT, WEBSITE AND ANY SOFTWARE ARE PROVIDED ON AN 
          "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF 
          SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL 
          BE UNINTERRUPTED OR ERROR-FREE.
        </p>
        <h3>Privacy Policy</h3>
        <p>
          For information regarding Lootsie&#8217;s treatment of personally identifiable information, please review Lootsie&#8217;s current Privacy 
          Policy for Lootsie at https://www.Lootsie.com/privacy, which is hereby incorporated by reference; your acceptance of this 
          Agreement constitutes your acceptance and agreement to be bound by Lootsie&#8217;s Privacy Policy for Lootsie.
        </p>
        <h3>Registration and Security</h3>
        <p>
          As a condition to using some aspects of the Services, you may be required to register with Lootsie and select a password and 
          user name ("User ID"). You shall provide Lootsie with accurate, complete, and updated registration information, including your 
          email address. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of your 
          account. You may not (i) select or use as a User ID a name of another person with the intent to impersonate that person; or 
          (ii) use as a User ID a name subject to any rights of a person other than you without appropriate authorization. Lootsie reserves 
          the right to refuse registration of or cancel a User ID in its discretion. You shall be responsible for maintaining the 
          confidentiality of your password.
        </p>
        <h3>Indemnity</h3>
        <p>
          You will indemnify and hold Lootsie, its parents, subsidiaries, affiliates, officers, and employees harmless (including, 
          without limitation, from all damages, liabilities, settlements, costs and attorneys' fees) from any claim or demand made 
          by any third party due to or arising out of your access to the Services, use of the Services, your violation of this Agreement,
           or the infringement by you or any third party using your account of any intellectual property or other right of any person or entity.
        </p>
        <h3>Limitiation of Liability</h3>
        <p>
          TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL Lootsie OR ITS SUPPLIERS, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, 
          EMPLOYEES, OR AGENTS BE LIABLE WITH RESPECT TO THE WEBSITE OR THE SERVICES OR THE SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, 
          NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY (I) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE GREATER OF 
          FEES PAID BY YOU THEREFOR OR $10; (II) FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (III) 
          FOR DATA LOSS OR COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; OR (IV) FOR ANY MATTER BEYOND Lootsie&#8217;s REASONABLE CONTROL.
        </p>
        <h3>Third Party Websites</h3>
        <p>
          The Services may contain links to third party websites that are not owned or controlled by Lootsie, or the Services may be accessible 
          by logging in through a third party website or service; for example, you may access the Services through Facebook by using its 
          "Facebook Connect" functionality. When you access third party websites, you do so at your own risk. You hereby represent and warrant 
          that you have read and agreed to be bound by all applicable policies of any third party websites or services relating to your use 
          of the Services and that you will act in accordance with those policies, in addition to your obligations under this Agreement. 
          Lootsie has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions 
          expressed in any third party websites. In addition, Lootsie will not and cannot monitor, verify, censor or edit the content of any 
          third party site. By using the Services, you expressly relieve and hold harmless Lootsie from any and all liability arising from 
          your use of any third party website. Your interactions with organizations and/or individuals found on or through the Services, 
          including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated 
          with such dealings, are solely between you and such organizations and/or individuals. You should make whatever investigation you 
          feel necessary or appropriate before proceeding with any online or offline transaction with any of these third parties. 
          You agree that Lootsie shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such 
          dealings. If there is a dispute between participants on this site, or between users and any third party, you understand and 
          agree that Lootsie is under no obligation to become involved. In the event that you have a dispute with one or more other users, 
          you hereby release Lootsie, its officers, employees, agents, and successors in rights from claims, demands, and damages (actual 
          and consequential) of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out 
          of or in any way related to such disputes and/or our service. If you are a California resident, you shall and hereby do waive 
          California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know 
          or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his 
          settlement with the debtor."
        </p>
        <h3>Termination</h3>
        <p>
          This Agreement shall remain in full force and effect while you use the Services. You may terminate your use of the Services or 
          your membership at any time by following the instructions on the Website. Lootsie may terminate your access to the Services or 
          your membership at any time, for any reason, and without warning, which may result in the forfeiture and destruction of all 
          information associated with your membership. Lootsie may also terminate or suspend any and all Services and access to the 
          Website immediately, without prior notice or liability, if you breach any of the terms or conditions of this Agreement. 
          Any fees paid hereunder are non-refundable, including any outstanding virtual currency balances. Upon termination of your 
          account, your right to use the Services, access the Website, and any Content will immediately cease. All provisions of this 
          Agreement which, by their nature, should survive termination, shall survive termination, including, without limitation, 
          ownership provisions, warranty disclaimers, and limitations of liability.
        </p>
        <h3>Miscellaneous</h3>
        <p>
          The failure of either party to exercise, in any respect, any right provided for herein shall not be deemed a waiver of any 
          further rights hereunder. Lootsie shall not be liable for any failure to perform its obligations hereunder where such failure 
          results from any cause beyond Lootsie&#8217;s reasonable control, including, without limitation, mechanical, electronic or communications 
          failure or degradation (including "line-noise" interference). If any provision of this Agreement is found to be unenforceable or 
          invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise 
          remain in full force and effect and enforceable. This Agreement is not assignable, transferable or sublicensable by you except 
          with Lootsie&#8217;s prior written consent. Lootsie may transfer, assign or delegate this Agreement and its rights and obligations 
          without consent. This Agreement shall be governed by and construed in accordance with the laws of the State of California without 
          regard to the conflict of laws provisions thereof. If you are a resident of a European Union Member State and you wish to 
          institute an action arising from or relating to the subject matter of this Agreement, you may choose to do so either in the 
          national courts of your country of residence, or through binding arbitration in San Francisco County, California as set forth below.  
          For all other users residing outside the European Union, any dispute arising from or relating to the subject matter of this 
          Agreement shall be finally settled by arbitration in San Francisco County, California, using the English language in accordance 
          with the Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one 
          commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall 
          be selected from the appropriate list of JAMS arbitrators in accordance with the Arbitration Rules and Procedures of JAMS. 
          Judgment upon the award so rendered may be entered in a court having Lootsie&#8217;sjurisdiction, or application may be made to such court 
          for judicial acceptance of any award and an order of enforcement, as the case may be. Notwithstanding the foregoing, each party 
          shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending 
          a final decision by the arbitrator. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue 
          in the United States Federal Courts located in the Northern District of California, and you hereby waive any right you may have, 
          either now or in the future, to institute a claim in any other jurisdiction or venue. Except as required by applicable law, 
          both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and 
          supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject 
          matter of this Agreement, and that all modifications must be in a writing signed by both parties, except as otherwise provided 
          herein. No agency, partnership, joint venture, or employment is created as a result of this Agreement and you do not have any 
          authority of any kind to bind Lootsie in any respect whatsoever..
        </p>
        <h3>Contact Us</h3>
        <p>
          If you have any questions, you may contact us at <a href="mailto:contact-us@lootsie.com">contact-us@lootsie.com</a>,
          mail us at Lootsie., 7039 Sunset Blvd., Hollywood CA  90028, Attn: Privacy, or call us at 000-000-0000.
        </p>
        <p><strong>Change log:</strong></p>
        <ul>
        	<li><em>February 1, 2013:</em> Something Updated</li>
        	<li><em>January 3, 2013:</em> Another Udpated Legal Something</li>
        	<li><em>July 1, 2012:</em> Revised paragraph about IP addresses to explain when they are collected and that commenter 
        	  IPs are visible to blog administrators
        	</li>
        </ul>
        <p><a href="#">Legal Credit: Some Legal Credit Here</a></p>
        
			</div>
			<!-- close span9 primary-column-->
  	  
  	  <section class="span3 sidebar secondary-column" id="secondary-nav">
				<aside class="widget">
					<h5 class="short_headline"><span>Help Menu</span></h5>
					<ul class="navigation">
						<li><a href="/_legal.html.erb">Legal</a></li>
						<li><a href="/_terms-of-service.html.erb">Terms of Service</a></li>
						<li><a href="/_privacy-policy.html.erb">Privacy Policy</a></li>
					</ul>
				</aside>
				
  			<aside class="widget">
  				<h5 class="short_headline"><span>Stay Updated</span></h5>
  				<p>Sign up for our newsletter. We won't share your email address or terms of condition message.</p>
  				<div class="input-append">
  					<input type="email" placeholder="Email Address" class="span8" name="email" />
  					<button class="btn btn-primary-orange">Sign Up</button>
  				</div>
  			</aside>
  			<!--close aside .widget -->

				<aside class="widget">
					<h5 class="short_headline"><span>Search</span></h5>
					<form class="searchform" method="get">
						<input type="search" class="span12" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'" />
					</form>
        </aside>
				<!--close aside widget-->
      </section>
			<!--close section sidebar span3-->
  	</div>
  	<!--close .container id="main-content" -->