<% @title = "where games get you stuff" %>

<div class="container clearfix" id="main-content"> 
	<!--begin main content-->
	
	<div class="row-fluid"> 
		<!--css3 columns-->
		<p class="two-columns">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		<ul class="gallery three_col clearfix testimonial-gallery">
			<!-- three_col four_col two_col -->
			
			<li class="highlight">
				<blockquote>
					<p>The only medicine for suffering, crime, and all the other woes of mankind, is wisdom.</p>
					<footer>Thomas Huxley</footer>
				</blockquote>
			</li>
			<!--close testimonial 1-->
			
			<li>
				<blockquote>
					<p>What chance gathers she easily scatters. A great person attracts great people and knows how to hold them together. </p>
					<footer>Johann Wolfgang Von Goethe</footer>
				</blockquote>
			</li>
			<!--close testimonial 2-->
			
			<li class="highlight">
				<blockquote>
					<p>The ultimate measure of a man is not where he stands in moments of comfort, but where he stands at times of challenge and controversy. </p>
					<footer>Martin Luther King, Jr.</footer>
				</blockquote>
			</li>
			<!--close testimonial 3-->
			
			<li>
				<blockquote>
					<p>Your imagination is your preview of life's coming attractions.</p>
					<footer>Albert Einstein</footer>
				</blockquote>
			</li>
			<!--close testimonial 4-->
			
			<li>
				<blockquote>
					<p>Live simply so others can simply live.</p>
					<footer>Mahatma Gandhi</footer>
				</blockquote>
			</li>
			<!--close testimonial 5-->
			
			<li class="highlight">
				<blockquote>
					<p>Far away in the sunshine are my highest aspirations. I may not reach them, but I can look up and see their beauty, believe in them, and try to follow where they lead. </p>
					<footer>Louisa May Alcott</footer>
				</blockquote>
			</li>
			<!--close testimonial 6-->
			
			<li>
				<blockquote>
					<p>In the hopes of reaching the moon men fail to see the flowers that blossom at their feet.</p>
					<footer>Albert Schweitzer</footer>
				</blockquote>
			</li>
			<!--close testimonial 7-->
			
			<li>
				<blockquote>
					<p>Don't waste your life in doubts and fears: spend yourself on the work before you, well assured that the right performance of this hour's duties will be the best preparation for the hours or ages that follow it. </p>
					<footer>Emerson</footer>
				</blockquote>
			</li>
			<!--close testimonial 8-->
			
			<li>
				<blockquote>
					<p>The first step in the acquisition of wisdom is silence, the second listening, the third memory, the fourth practice, the fifth teaching others.</p>
					<footer>Solomon Ibn Gabriol</footer>
				</blockquote>
			</li>
			<!--close testimonial 9-->
			
			<li class="highlight">
				<blockquote>
					<p>It is not work that kills men, it is worry. Work is healthy; you can hardly put more on a man than he can bear. But worry is rust upon the blade. It is not movement that destroys the machinery, but friction.</p>
					<footer>Henry Ward Beecher</footer>
				</blockquote>
			</li>
			<!--close testimonial 10-->
			
			<li>
				<blockquote>
					<p>All that lives is striving for happiness; yet a thousand and one pains
						and fears attend upon every pleasure which man seeks through the
						ignorance of exclusiveness.</p>
					<footer>Meher Baba</footer>
				</blockquote>
			</li>
			<!--close testimonial 11-->
			
			<li>
				<blockquote>
					<p>What lies behind us and what lies before us are tiny matters, compared to what lies within us.</p>
					<footer>Emerson</footer>
				</blockquote>
			</li>
			<!--close testimonial 12-->
			
		</ul>
	</div>
	<!--close row-fluid-->
 </div>