<% @title = "where games get you stuff" %>

    <div class="container clearfix" id="main-content">
    <div class="row-fluid sidebar-left"> 
			<!--begin row-fluid--> 
			<!--******add class "sidebar-left" to the row-fluid class ***-->
			<div class="span6 primary-column">
				<h2>We're Gamers just Like You</h2>
				<p>Our mission with Lootsie is to create a network where playing games you love, will get you things that you love. And the more you play, the better the 
				  rewards get -for free. It's that simple.</p>
					
					<ul class="s-accordion fancy">
  					<li class="s-wrap">
  						<h4 class="trigger"><a href="#"> Headline Revisited <i class="icon-chevron-up"></i></a></h4>
  						<div class="s-content toggle-gamer-1">
  							<div class="span5">
  							  <h2>Copy to come from the revisit of mission statement</h2>
  							  <br>
  							  <p>We're building a network of fabulous and impsolum grecko surfit maximus abrecus dorem.</p>
  							</div>
  						</div><!--close s-content--> 
  					</li><!--close s-wrap-->
  					
  					<li class="s-wrap">
  						<h4 class="trigger"><a href="#">Play Any Game Benefit<i class="icon-chevron-up"></i></a></h4>
  						<div class="s-content toggle-gamer-2">
  							<div class="span5">
  							  <h2>Discover & Play Games Benefit Headline</h2>
  							  <br>
								  <p>This benefit has to do with Lootsie enabled games where points from any game translates from game to game.</p>
  							</div>
  						</div><!--close s-content--> 
  					</li><!--close s-wrap-->
  					
  					<li class="s-wrap">
  						<h4 class="trigger"><a href="#">Paid to Play Benefit <i class="icon-chevron-up"></i></a></h4>
  						<div class="s-content toggle-gamer-1">
  							<div class="span5">
  							  <h2>Get Paid to Play Headline</h2>
  								<p>This benefit has to do with scoring with everything you do on Lootsie, outside of the actual playing.
  								  A gamer can earn by tweeting, doing this and even doing that. It's that simple.</p>
  							</div>
  						</div><!--close s-content--> 
  					</li><!--close s-wrap-->
  					
  					<li class="s-wrap">
  						<h4 class="trigger"><a href="#">Redeem Points Benefit <i class="icon-chevron-up"></i></a></h4>
  						<div class="s-content toggle-gamer-2">
  							<div class="span5">
  								<h2>Sweet Redeeming Benefit</h2>
  								<p>This is where we talk about how easy it is to redeem those great points, the step by step process. </p>
  								<ol>
  									<li>Key Benefit Here</li>
  									<li>Key Benefit Here</li>
  									<li>Key Benefit Here</li>
  								</ol>
  							</div>
  						</div><!--close s-content--> 
  					</li><!--close s-wrap-->
  				</ul><!-- s-accordion fancy -->
				</div><!--span6 primary-column-->
		 
		    <div class="span6 align-right">
          <ul class="no-list">
            <li id="iphone"><img class="absolutecenter" src="../images/iPhone.png"></li>
          </ul>
        </div>
        <div class="span6">
          <h1 class="bigheadliine">leverage your fingertips for tangible good stuff</h1>
        </div>
        <div class="span6">
          <ul class="no-list">
            <a href="#" rel="tooltip" title="first tooltip"><li class="iphone-icon tiny-vector"></li></a>
            <li class="iphone-icon" tiny-vector></li>
            <li class="iphone-icon"tiny-vector></li>
          </ul>
        </div> 
		 </div> 	
				
