<% @title = "where games get you stuff" %>

    <div class="container clearfix" id="main-content">
      <div class="row-fluid"> 
  			<!--begin row-fluid--> 
  			<!--******add class "sidebar-left" to the row-fluid class ***-->
  			<div class="span12 primary-column">
  				<div class="content-tabs"> 
  					<!-- wrapper required -->
  					<ul class="tabs">
  						<li class="tab"><a href="#t1a">GAMERS</a></li>
  						<li class="tab"><a href="#t2a">DEVELOPERS</a></li>
  						<li class="tab"><a href="#t3a">ADVERTISERS</a></li>
  					</ul>
  					
  					<div class="panels">
  						<div class="pane" id="t1a">
  						  <div class="row-fluid sidebar-left"> 
            			<!--begin row-fluid--> 
            			<!--******add class "sidebar-left" to the row-fluid class ***-->
            			<!-- FIRST LAYOUTS REGARDING GAMERS -->
            			<div class="span6 primary-column">
            				<h2>We're Gamers just Like You</h2>
            				<p>Our mission with Lootsie is to create a network where playing games you love, will get you things that you love. 
            				  And the more you play, the better the 
            				  rewards get -for free. It's that simple.
            				</p>
            				<ul class="s-accordion fancy">
              				<li class="s-wrap">
              					<h4 class="trigger"><a href="#"> Headline Revisited <i class="icon-chevron-up"></i></a></h4>
              					<div class="s-content toggle-gamer-1">
              						<div class="span5">
              						  <h1 class="tour">Copy to come from the revisit of mission statement</h1>
              						  <p>We're building a network of fabulous and impsolum grecko surfit maximus abrecus dorem.</p>
              			 			</div>
              			 		</div><!--close s-content--> 
              		 		</li><!--close s-wrap-->

              				<li class="s-wrap">
              			  	<h4 class="trigger"><a href="#">Play Any Game Benefit<i class="icon-chevron-up"></i></a></h4>
              		  		<div class="s-content toggle-gamer-2">
              	  				<div class="span5">
                					  <h1 class="tour">Discover & Play Games Benefit Headline</h1>
              						  <p>This benefit has to do with Lootsie enabled games translating points into one prize.</p>
            							</div>
            						</div><!--close s-content--> 
             					</li><!--close s-wrap-->

              				<li class="s-wrap">
              					<h4 class="trigger"><a href="#">Paid to Play Benefit <i class="icon-chevron-up"></i></a></h4>
              					<div class="s-content toggle-gamer-1">
              						<div class="span5">
              						  <h1 class="tour">Get Paid to Play Headline</h1>
            								<p>A benefit where scoring can be scored outside of actual playing.
            								  A gamer can earn by tweeting, doing this and even doing that. It's that simple.
            								</p>
            							</div>
            						</div><!--close s-content--> 
            					</li><!--close s-wrap-->

              	  		<li class="s-wrap">
                				<h4 class="trigger"><a href="#">Redeem Points Benefit <i class="icon-chevron-up"></i></a></h4>
              					<div class="s-content toggle-gamer-2">
            							<div class="span5">
              							<h1 class="tour">Sweet Redeeming Benefit</h1>
            								<p>The ease of redeeming those points, listing them to show a beneift.</p>
             								<ul>
             									<li>Key Benefit Here</li>
             									<li>Key Benefit Here</li>
             									<li>Key Benefit Here</li>
             								</ul>
             							</div>
             						</div><!--close s-content--> 
             					</li><!--close s-wrap-->
             				</ul><!-- s-accordion fancy -->
           				  
            				<div class="span11">
                      <h1 class="bigheadline">leverage your fingertips for tangible good stuff</h1>
                    </div>
            			</div><!--span6 primary-column-->

                  <div class="span6 align-right">
                    <div class="panels" style>
                      <div class="pane" id="" style><img class="absolutecenter" src="../images/iPhone.png"></div>
                      <!--close #t1a -->
                      <div class="pane" id="" style></div>
                      <!--close #t2a -->
                      <div class="pane" id="" style></div>
                      <!--close #t3a -->
                      <div class="pane" id="" style></div>
                      <!--close #t4a -->
                    </div><!--close panels-->

                    <div class"content-tabs" data-easytabs="true">
                      <!-- wrapper required -->
                      <ul class="devices no-list">
                        <li>
                          <a href="#" rel="tooltip" data-placement="top" data-original-title="Iphone">
                            <img class="iphone-sprite" src="">
                          </a>
                        </li>
                        
                        <li>
                          <a href="#" rel="tooltip" data-placement="top" data-original-title="Ipad">
                            <img class="ipad-sprite" src="">
                          </a>
                        </li>
                        <li>
                          <a href="#" rel="tooltip" data-placement="top" data-original-title="Monitor">
                            <img class="monitor-sprite" src="">
                          </a>
                        </li>
                        <li>
                          <a href="#" rel="tooltip" data-placement="top" data-original-title="Android">
                            <img class="android-sprite" src="">
                          </a>
                        </li>
                      </ul>
            		    </div> 	
                  </div><!-- /.span6 align-right-->
  						  </div><!--close #t1a -->
  					 
  					  <div class="pane" id="t2a"></div><!--close #t2a THIS WILL BE THE CONTENT FOR DEVELOPERS-->
  						
  						<div class="pane" id="t3a"></div><!--close #t3a THIS WILL BE THE CONTENT FOR ADVERTISERS-->
  						
  					</div><!--close panels--> 
  				</div><!-- /.content-tabs--> 
  			</div><!--close span9 primary-column-->
  		</div><!--close row-fluid--> 
  	</div><!--close .container id="main-content" -->
   