<% @title = "where games get you stuff" %>

    <!-- Begin Slider -->
    <div class="content-slider-wrapper clearfix dark">
    	<div class="flexslider content-slider">
    		<ul class="slides">
    			<!--begin slide content inside each li tag-->
    			<li> 
    			  <img alt="" src="/images/slider_one.png">
    				<div class="caption">
    					<h1>4,000 BAD LIL' PIGGIES POPPED <br> 
    					  + 1 HELLUVA ZOMBIE KILLING SPREE <br> 
    					  + KARATE CHOPPIN' SOME FRUIT<br>  
    					  + NAILING 80'S SONGS LIKE A CHAMP</h1>
    					<span class="big grey">=</span>
    					<h1 class="big blue">A SHOPPING SPREE</h1>
    					<h2>PLAY & EARN A SHOPPING SPREE</h2>
    					<div class="span3 align-right">
    					  <a class="btn btn-large btn-orange" href="/_tour.html.erb">CHECK IT OUT <i class="icon-external-link"></i></a>
    					</div>
    				</div>
    			</li>
    			<li> <img alt="" src="/images/slider_two.png"> 
    				<div class="caption">
    					<h1>SAVED THE HOLY LAND + REBUILT THE LOST CITY  
    					  + QUENCHED A WARRIOR'S BLOODLUST + RETOOK THE THRONE <br>
    					  + 50 SILENT ASSASINATIONS</h1>
    					  <h2>SAVE THE DAY <br>CAPTURE THE PRIZE</h2>
    					<span class="big grey">=</span>
    					<h1 class="big white">CAPTURE THE PRIZE</h1>
    					<div class="span3 align-right">
    					  <a class="btn btn-large btn-yellow" href="/_tour.html.erb">CHECK IT OUT <i class="icon-external-link"></i></a>
    					</div>
    				</div>
    			</li>
    			<li> <img alt="" src="/images/slider_three.png"> 
    				<div class="caption">
    					<h1>RUNNING THE FARM W/OUT BREAKING A NAIL + BECOMING MAYOR W/OUT BREAKING A SWEAT  
    					  + COOKING BRUNCH W/OUT BREAKING AN EGG </h1>
    					  <h2>PLAY & EARN <br> ONE BIG 'ME-DAY'</h2>
    					<span class="big grey">=</span>
    					<h1 class="big bright-blue">ONE BIG 'ME-DAY'</h1>
    					<div class="span3 align-right">
    					  <a class="btn btn-large btn-green" href="/_tour.html.erb">CHECK IT OUT <i class="icon-external-link"></i></a>
    					</div>
    				</div>
    			</li>
    			<li> <img alt="" src="/images/slider_four.png"> 
    				<div class="caption">
    					<h1>LANDED THE SUPERBOWL RING <br> + TOOK THE HOUSE WITH POCKET ACES  
    					  + BURNED THE PO PO ON A HIGH SPEED CHASE + GRADUATED TO CARD SHARK</h1>
    					  <h2>MANY MO' GOOD TIMES TO COME </h2>
    					<span class="big grey">=</span>
    					<h1 class="big white">MO' GOOD TIMES TO COME</h1>
    					<div class="span3 align-right">
    					  <a class="btn btn-large btn-orange" href="/_tour.html.erb">CHECK IT OUT <i class="icon-external-link"></i></a>
    					</div>
    				</div>
    			</li>
    			<li> <img alt="" src="/images/slider_five.png"> 
    				<div class="caption">
    					<h1>LET'S FACE IT.</h1>
    					 <h1 style="font-size: 165%;line-height: 1em;">We spend a chunk of every day playing games on our phones, 
    					   tablets, mobile and online. With lootsie, every 
    					    achievement you reach in <em>that world</em> rewards you nicely in <em>this world.</em></h1>
    					    <span class="big grey">=</span>
    					<h1 class="big white">WE CALL IT PAYBACK</h1>
    					<h2>PLAY FOR EVEN <br>MORE PAYBACK</h2>
    					<div class="span3 align-right">
    					  <a class="btn btn-large btn-blue" href="/_tour.html.erb">CHECK IT OUT <i class="icon-external-link"></i></a>
    					</div>
    				</div>
    			</li>
    		</ul>
    	</div><!-- end  .flexslider.content-slider.light --> 
    </div><!-- end  .content-slider-wrapper -->
    
    <div class="container">
      <div id="clients" class="row-fluid ng-scope">
        <ul class="thumbnails">
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
        </ul>
        <ul class="thumbnails">
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
          <li class="span2"><a class="thumbnail" href="#"><img src="http://placehold.it/160x80" alt=""></a></li>
        </ul>
      </div>
      <div class="row-fluid">
        <div class="span6">  
          <button class="btn-developer btn-large a" data-placement="top" data-content="This is where we can say something
          more than just a simple message instead of a call to action." data-original-title="Call to Action">
            <h1 class="span6 dark-grey">DEVELOPERS</h1>
            <p class="span6">Grow Your User Base, Boost Engagement & Increase Revenues</p>
          </a></button>
        </div>
        <div class="span6">  
          <button class="btn-advertiser btn-large a" data-placement="top" data-content="This is where we can say something
          more than just a simple message instead of a call to action." data-original-title="Call to Action">
            <h1 class="span6 dark-grey">ADVERTISERS</h1>
            <p class="span6">Higher Conversion Rates, Advanced Targeting & Smarter Analytics</p>
          </a></button>
        </div>
      </div> 
    </div>