.content-slider.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative;
}
.content-slider.flexslider .slides img { display: block }

/* Custom Content Slider
*********************************/
.content-slider.flexslider {
    zoom: 1;
    max-width: 1920px;    
/*    max-width: 100%;
*/  margin: 0 auto;
    padding: 0;
    clear: both;
    overflow:hidden;
    z-index:2;
    -moz-box-shadow: 0px 0px 10px 3px #777;
    -webkit-box-shadow: 0px 0px 10px 3px #777;
    box-shadow: 0px 0px 10px 3px #777;
}
.content-slider.flexslider .slides { zoom: 1 }
.content-slider-wrapper {
    position: relative;
    clear: both;
/*    background: url(../images/70p.png) fixed; PLACEHOLDER IMAGERY*/    
/*    margin: 0px 0 3% 0;
    padding: 0% 60px 0 60px;   */ 
    margin: 0px 0 2% 0;
    padding: 0px;
    background-color:#74838E;
}
.content-slider.flexslider .video-wrapper { margin: 0 0 10px 0 }

/* captions
*********************************/
.content-slider.flexslider .caption {
    position: absolute;
    top: 5%;
    left: 640px;
    width: 45%;
    padding: 15px;
}

.content-slider.flexslider .img,
.content-slider.flexslider .video-wrapper {
    float: left;
    width: 60%;
    padding-top: 1%;
}
.content-slider.flexslider .img.full {
    float: none;
    width: 80%;
    margin:0 auto;
    padding-top: 1%;
}
.content-slider.flexslider .video-wrapper.full {
    float: none;
    width: 80%;
    margin:0 auto;
    padding-top: 1%;
}
.content-slider.flexslider .img img { max-width: 100% }
.content-slider.flexslider .img span,
.content-slider.flexslider .video-wrapper span {
    display: block;
    clear: both;
}
.content-slider.flexslider .caption h1 {
    font-size: 260%;
    line-height: .95em;
    margin-bottom: 3%;
    color:#455560;
    -moz-opacity: 0.45;
    opacity: 0.45;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
    font-weight: 600;
}
.content-slider.flexslider .caption h1.big {
    font-size: 375%;
    line-height: .95em;
    margin-bottom: 3%;
    color:#57ACE0;
    font-weight: 600;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
}
.content-slider.flexslider .caption span.big.grey {
    color: #455560;
    font-size: 800%;
    float: left;
    line-height: .25;
    font-family: "Bariol_Bold";
    margin-right: 11px;
    -moz-opacity: 0.45;
    opacity: 0.45;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
}

.content-slider .more {
    padding-top: 10px;
    text-align: right;
}
.content-slider.flexslider p { line-height: 2 }
.content-slider-wrapper.dark .caption p, .content-slider.flexslider.dark .caption p a { color: #fff }
.content-slider-wrapper.dark span.credit a, .content-slider-wrapper.dark span.credit {color:#ddd;}


/* direction navigation
*********************************/
.content-slider.flexslider .flex-direction-nav { *height: 0 }
.content-slider.flexslider .flex-direction-nav .flex-disabled {
    display: none!important;
    cursor: default;
}
.content-slider.flexslider .flex-direction-nav a.flex-next,
.content-slider.flexslider .flex-direction-nav a.flex-prev {
    cursor: pointer;
    position: absolute;
    z-index: 200;
    height: 50px;
    right: 8px;
    text-indent: -9999px;
    display: block;
    top: 40%;
    width: 40px;
    height: 80px;
    background:url(../images/sliderarrows.png) 0 50% no-repeat;
}
.content-slider.flexslider .flex-direction-nav a.flex-prev {
    left: 8px;
    right: auto;
    background-position: -40px 50%;
}
.content-slider.flexslider .flex-prev:hover,
.content-slider.flexslider .flex-next:hover { opacity: .5 }

/* control navigation
*********************************/
.content-slider.flexslider .flex-control-nav {
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    padding:10px 0 10px 0;
    background-image: linear-gradient(bottom, #5C6870 32%, #74838E 77%);
    background-image: -o-linear-gradient(bottom, #5C6870 32%, #74838E 77%);
    background-image: -moz-linear-gradient(bottom, #5C6870 32%, #74838E 77%);
    background-image: -webkit-linear-gradient(bottom, #5C6870 32%, #74838E 77%);
    background-image: -ms-linear-gradient(bottom, #5C6870 32%, #74838E 77%);
    
}
.content-slider.flexslider .flex-control-nav li {
    margin: 0 0 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.content-slider.flexslider .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    /*background: #a3b0bb; */
    background:#455560;
    cursor: pointer;
    text-indent: 9999px;
    border-radius: 50%;
}
.content-slider.flexslider .flex-control-paging li a:hover { background: #FFD24F }
.content-slider.flexslider .flex-control-paging li a.flex-active {
    background: #FFD24F;
    cursor: default;
}
/* image credit (used in demo) this is the span inside these two divs
================================================== */
.content-slider.flexslider .img span,
.content-slider.flexslider .video-wrapper span {
    font-size: 11px;
    margin-top: 5px;
    position: relative;
    padding: 10px 0;
    overflow:visibile;
}
.content-slider.flexslider span.credit a {
    text-decoration: none;
}
.content-slider.flexslider span.credit .tooltip {left:10px!important;}


/** Light Styles **/
================================================== */
.content-slider-wrapper.light .caption p, .content-slider.flexslider.light .caption p a { color: #333 }
.content-slider-wrapper.light .caption .btn {color: #fff;}
.content-slider-wrapper.light .caption h2 {color: #2ba4c2;}
.content-slider-wrapper.light span.credit a {color:#444;}
.content-slider-wrapper.light {
    background: url(../images/7p.png);
}
.content-slider-wrapper.light .flex-direction-nav a.flex-next,
.content-slider-wrapper.light .flex-direction-nav a.flex-prev {
    background:url(../images/sliderarrows.png) -140px 50% no-repeat;
}
.content-slider-wrapper.light .flex-direction-nav a.flex-prev {
    background-position: -180px 50%;
}

/* Media Queries
================================================== */
@media only screen and (max-width:320px) { 
    /* height of slider on mobile */
    .content-slider.flexslider img { height: 125px }
}


@media only screen and (min-width: 600px) and (max-width:800px) { 
    .content-slider.flexslider .caption h2 {
        font-size: 180%;
        line-height: 1.2;
    }
    .content-slider.flexslider p {
        font-size: 100%;
        line-height: 1.5;
        text-align: left;
    }
}

@media only screen and (min-width: 767px) and (max-width: 979px) { 
    /* height of slider on tablet */
    .content-slider.flexslider img { height: 250px }
    
    .content-slider.flexslider .caption {
        position: absolute;
        top: 5%;
        left: 365px;
        width: 45%;
        padding: 15px;
    }
    .content-slider.flexslider .caption h1 {
        font-size: 230%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
}

@media only screen and (min-width: 980px) { 
    .content-slider.flexslider img { height: 300px }
    .content-slider.flexslider .caption {
        position: absolute;
        top: 5%;
        left: 500px;
        width: 45%;
        padding: 15px;
    }
    .content-slider.flexslider .caption h1 {
        font-size: 265%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
     .content-slider.flexslider .caption h1.big.blue {
       color: #57ACE0;
     }                                                                                               
     .content-slider.flexslider .caption h1.big.light-blue {
       color: #A8D1E2;
     }
     .content-slider.flexslider .caption h1.big.bright-blue {
        color: #1989B9;
      }
     .content-slider.flexslider .caption h1.big.white {
       color: #FFFFFF;
     }
     .content-slider.flexslider .caption h1.big.yellow {
       color: #FFD24F;
     }
}
@media only screen and (min-width: 1024px) { 
    .content-slider.flexslider img { height: 300px }
    .content-slider.flexslider .caption h1 {
        font-size: 285%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) { 
    .content-slider.flexslider .caption {
        position: absolute;
        top: 8%;
        left: 635px;
        width: 45%;
        padding: 15px;
    }
    .content-slider.flexslider img { height: 350px }
    .content-slider.flexslider .caption h1 {
        font-size: 285%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) { 
/*@media only screen and (max-width: 1440px) { 
*/    .content-slider.flexslider img { height: 400px }
    .content-slider.flexslider .caption {
        position: absolute;
        top: 8%;
        left: 755px;
        width: 35%;
        padding: 15px;
    }
    .content-slider.flexslider .caption h1 {
        font-size: 320%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) { 
/*@media only screen and (max-width: 1440px) { 
*/    .content-slider.flexslider img { height: 400px }
    .content-slider.flexslider .caption {
        position: absolute;
        top: 8%;
        left: 700px;
        width: 38%;
        padding: 15px;
    }
    .content-slider.flexslider .caption h1 {
        font-size: 320%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
}

@media only screen and (min-width: 1441px){ 
    .content-slider.flexslider img { height: 450px }
    .content-slider.flexslider .caption {
        position: absolute;
        top: 8%;
        left: 840px;
        width: 35%;
        padding: 15px;
    }
    .content-slider.flexslider .caption h1 {
        font-size: 335%;
        line-height: .9em;
        letter-spacing: -1px;
        margin-bottom: 3%;
        color:#455560;
        -moz-opacity: 0.65;
        opacity: 0.65;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=65);
        font-weight: 600;
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h1.big {
        font-size: 330%;
        line-height: 1em;
        margin-bottom: 2%;
        font-weight: 600;
        -moz-opacity: 1;
        opacity: 1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    }
    .content-slider.flexslider .caption span.big.grey {
        color: #455560;
        font-size: 730%;
        float: left;
        line-height: .57;
        font-family: "Bariol_Bold";
        margin-right: 11px;
        -moz-opacity: 0.45;
        opacity: 0.45;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=45);
        font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    .content-slider.flexslider .caption h2 {
      display: none;
    }
    
}


/* up to 767px wide
================================================== */
@media only screen and (max-width: 767px) { 

	  .content-slider-wrapper {
    	margin: 0 0 3% 0;
    	padding: 0%;
    }
    .content-slider.flexslider .caption {
      float: none;
      clear: both;
      width: 100%;
      padding-bottom: 10px;
      margin: 0;
      left: 160px;
      font-size: 10px;
      width: 50%;
      top: 1%;
    }
    .content-slider.flexslider .img,
    .content-slider.flexslider .video-wrapper {
      float: none;
      width: 100%;
    }
    .content-slider.flexslider .img img {
    	width:auto;
    	max-width: 100%;
    	margin:0 auto;
    	height: 200px;
    }
    .content-slider.flexslider .caption h1 {
      display: none;
    }
    .content-slider.flexslider .caption h1.big {
      display: none;
    }
    .content-slider.flexslider .caption span.big.grey {
      display: none;
    }
    .content-slider.flexslider .caption h2 {
      text-align: left;
      font-size: 165%;
      line-height: 1;
    }
    .content-slider.flexslider p {
      font-size: 100%;
      line-height: 1.5;
      text-align: center;
      display: none;
    }
    .content-slider.flexslider .more {
      padding-top: 0;
      text-align: center;
     }
     .content-slider.flexslider .flex-control-nav {
       top: auto;
       text-align: left;
       margin-left: -5px;
     }
     .content-slider.flexslider .img span,
     .content-slider.flexslider .video-wrapper span {
       padding: 5px 0;
       text-align: center;
     }
     .content-slider.flexslider .flex-direction-nav a.flex-next {
       background-position: -80px 50%;
       width: 30px;
       height: 50px;
       right:5px;
       top: 15%;
     }
     .content-slider.flexslider .flex-direction-nav a.flex-prev {
       background-position: -110px 50%;
       width: 30px;
       left:5px;
       height: 50px;
       top: 15%;
     }
     .content-slider.flexslider .flex-control-nav {
    	 text-align: center;
     }
     .content-slider.flexslider .flex-control-paging li a {
    	 width:10px;
    	 height:10px;
     }
     .row-fluid .thumbnails {
       margin-left: 0;
       margin-bottom: 1%;
       float: left;
     }
	
  	/*light style arrows */
  	 .content-slider-wrapper.light .flex-direction-nav a.flex-next,
  	 .content-slider-wrapper.light .flex-direction-nav a.flex-prev {
        background:url(../images/sliderarrows.png) -220px 50% no-repeat;
  	 }
  	 .content-slider-wrapper.light .flex-direction-nav a.flex-prev {
        background-position: -250px 50%;
  	 }     
	

} /* end */

/* ================================================== 
	MAIN RETINA BACKGROUND IMAGE REPLACEMENT & RETINA INFORMATION
================================================== */

/*	change the webkit number to 1 to test on webkit to make sure 
	the sizes and the images show up correctly then switch back before launch */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-o-min-device-pixel-ratio: 3/2),
 	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) 
{

.content-slider.flexslider .flex-direction-nav a.flex-next,
.content-slider.flexslider .flex-direction-nav a.flex-prev {
    background-image:url(../images/retina/sliderarrows_@2x.png);
			-moz-background-size:360px 100px; 
             -ie-background-size:360px 100px;
              -o-background-size:360px 100px;
       	 -webkit-background-size:360px 100px;
                 background-size:360px 100px;

} 



}/* end desktop and main retina swapping */



